body {
    display: grid;
    place-content: center;
    height: 100vh;
}

#apartmentWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#spreadSheetWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#newSpreadSheetSection {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.horizontal {
    display: flex;
    width: 100%;
}

label {
    text-align: left;
    font-family: sans-serif;
    font-size: large;
}

#inputField {
    height: 20px;
    border-radius: 5px;
    flex: 3;
}

button {
    border-radius: 5px;
    flex: 0.5;
}

iframe {
    width: 99dvw;
    height: 90dvh;
    border: 1px solid black;
}

.hidden {
    display: none;
}